---
Checks: >
  *,
  -altera-struct-pack-align,
  -bugprone-forwarding-reference-overload,
  -bugprone-narrowing-conversions,
  -clang-analyzer-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-narrowing-conversions,
  -fuchsia-default-arguments-calls,
  -google-explicit-constructor,
  -google-objc-function-naming,
  -google-runtime-int,
  -hicpp-explicit-conversions,
  -hicpp-named-parameter,
  -llvm-include-order,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -modernize-raw-string-literal,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-parentheses,
WarningsAsErrors: '*'
